@import url("http://fonts.googleapis.com/css?family=Dosis:300,400,600,800")

// -- CONSTANTS ----------------------------------------------------------------
/* COLORS */
COLOR                       = #4a4a4a
BACKGROUND                  = #f5f5f5
THEME                       = #B99D61
WHITE                       = #ffffff

/* FONT */
FONT_FAMILY                 = "Dosis", "Helvetica Neue", "Helvetica", "sans-serif"
FONT_SIZE                   = 1.25rem
FONT_SIZE_TINY              = 75%
FONT_SIZE_SMALL             = 0.9rem
FONT_SIZE_NORMAL            = 1.0rem
FONT_SIZE_BIG               = 1.2rem
FONT_WEIGHT_THIN            = 300
FONT_WEIGHT_NORMAL          = 400
FONT_WEIGHT_BOLD            = 600
FONT_WEIGHT_EXTRA_BOLD      = 800

/* DIMENSIONS */
UNIT                        = 4rem
SPACE                       = (UNIT / 4)
/* ANIMATIONS */
ANIMATION_DURATION          = 350ms
ANIMATION_STEPS             = 15
ANIMATION_EASE              = cubic-bezier(0.645, 0.045, 0.355, 1.000)
