body[data-page="landing"]
  > footer
    padding                     : (2 * SPACE) 0
    font-size                   : FONT_SIZE_SMALL
    color                       : lighten(COLOR, 50%)
    background-color            : darken(COLOR, 75%)
    > *
      padding                   : 0 (2 * SPACE)
      &.right
        span
          margin                : 0 (SPACE / 4)
          text-align            : center
    a
      text-decoration           : none
      color                     : THEME
      padding-bottom            : (SPACE / 3)
      transition                  all ANIMATION_DURATION
      &:hover
        box-shadow                0 1px WHITE
      &.icon
        font-size               : FONT_SIZE_BIG
        margin-left             : (1.5 * SPACE)
        &:hover
          color                 : WHITE
          text-decoration       : none

@media (max-width: 400px)
  body[data-page="landing"]
    > footer
      > *
        width                     : 100vw
        text-align                : center !important
      > nav
        margin-top                : SPACE
